* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #f4f6fb;
  color: #1f2937;
}
.logo { 
  font-size: 26px; 
  font-weight: 700;
 } 
.logo span {
   color: #f5a623; 
  }

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 18px 60px;
  background: #fafcfb;
 box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.menu-toggle {
 
  display: none;

}
 


.nav-links {
  display: flex;
  gap: 30px;
  margin-left: auto;   
  margin-right: 20px;
}


.nav-links a {
  text-decoration: none;
  color: #050505;
  font-weight: 500;
}

.login-btn {
  background: #f5a623;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}




/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 80px 60px;
  background-color: rgb(255, 249, 236);
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: 52px;
  line-height: 1.2;
}

.hero-text span {
  color: #f5a623;
}

.hero-text p {
  margin: 25px 0;
  font-size: 16px;
  color: #555;
}


.hero-btns button {
  padding: 14px 28px;
  margin-right: 15px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background: #f5a623;
  color: white;
}

.btn-secondary {
  background: #111827;
  color: white;
}


.btn-primary a{
  background: #f5a623;
  color: white;
  text-decoration: none;
}

.btn-secondary a{
  background: #111827;
  color: white;
   text-decoration: none;
}

.hero-img {
  flex: 1;
  min-width: 300px;
}

.hero-img img {
  width: 100%;
  border-radius: 14px;
}

/* FEATURES */
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 70px 60px;
  justify-content: space-between;
}

.feature-card {
  flex: 0 0 calc(33% - 20px);
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-6px);
}

/* CATEGORIES */
.categories {
  padding: 70px 60px;
  background: #fff;
}

.categories h2 {
  text-align: center;
  margin-bottom: 50px;
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.cat {
  flex: 0 0 calc(33% - 20px);
  background: linear-gradient(135deg, #f5a623, #ffcc70);
  color: white;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  font-weight: 600;
}

/* HOW IT WORKS */
.how-it-works {
  padding: 70px 60px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.step {
  flex: 0 0 280px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.07);
}

.step span {
  display: inline-block;
  background: #f5a623;
  color: white;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  line-height: 44px;
  margin-bottom: 15px;
}

/* TESTIMONIAL */
.testimonial {
  padding: 90px 60px;
  background: #fff2d6;
  text-align: center;
}

.testimonial h2 {
  margin-bottom: 50px;
  font-size: 32px;
}

.testimonial-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.testi-box {
  background: white;
  max-width: 420px;
  padding: 40px 35px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.testi-box:hover {
  transform: translateY(-6px);
}

.testi-box img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #f5a623;
}

.testi-box p {
  font-size: 15px;
  color: #444;
  margin-bottom: 18px;
  line-height: 1.6;
}

.testi-box h4 {
  margin-bottom: 5px;
  font-weight: 600;
}

.role {
  font-size: 13px;
  color: #f5a623;
  font-weight: 600;
}

/* FOOTER */
footer {
  background: #111827;
  color: #cbd5e1;
  text-align: center;
  padding: 25px;
}

/* MOBILE RESPONSIVE */
/* ===== MOBILE NAVBAR ===== */
@media (max-width: 768px) {

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
  }

  /* Logo left rahe */
  .logo {
    order: 1;
  }

  /* Login thoda left side aaye */
  .login-btn {
    order: 2;
    margin-left: auto;
  }

  /* Hamburger menu bilkul right side */
  .menu-toggle {
    display: block;
    order: 3;
    font-size: 26px;
    margin-left: 5px;
    cursor: pointer;
    
  }

  .features .feature-card,
  .category-grid .cat,
  .step {
    flex: 0 0 100%;
  }

  /* Mobile menu dropdown */
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    display: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }



  .nav-links.active {
    display: flex;
    flex-direction: column;

  }
}
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}

